<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rsdata>
		<zrow api_qqenable="true" api_qqappid="101135084" api_qqappkey="36f5a203985478706d2aa974252264ae" api_qqcallback="http://www.rendie.com/Default.aspx/inc/api/return_qq.html" api_alipayenable="true" api_alipaypartner="2088102584306863" api_alipaykey="n23v4wm10zby47uibe2y0ntnkx9khbhv" api_alipayreturnurl="http://www.rendie.com/inc/api/return_alipay.html" API_SinaEnable="true" API_SinaId="1209271713" API_SinaKey="32df13bd34917f09d716924cb2e582c4" API_SinaCallBack="http://www.rendie.com/inc/api/return_sina.html" API_DeliveryAPI="true" API_DeliveryAPI_Key="af234298gwrif87u9234"></zrow>
	</rsdata>
</xml>