<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rsdata>
		<ReplyMessage API_URL="http://www.rendie.com/inc/weixin.aspx" API_Token="weixin" API_AppId="wx7c1124cfa77d30cb" API_AppSecret="3f2b64eef6908fed20f4b732d18578d8" API_PaySignKey="oubuScwNdTEFltGNDeUsUQ9qY7iZhHAMqWkjQhQLjH28U8WwvTDW771Rfwdp8gTduvmLEGP8LDsgRc3vbYOCSt0jRdLn4HGSOV2EcvMg55OtIKoiemVrJ88AXHC5mU0a" API_PartnerID="1220535401" API_PartnerKey="e32d782c812c67e3d116010f6a383c3e"><![CDATA[%3Cxml%3E%0A%20%20%3CToUserName%3E%3C%21%5BCDATA%5B%5Bwenxin%3AFromUserName%5D%5D%5D%3E%3C/ToUserName%3E%0A%20%20%3CFromUserName%3E%3C%21%5BCDATA%5B%5Bwenxin%3AToUserName%5D%5D%5D%3E%3C/FromUserName%3E%0A%20%20%3CCreateTime%3E%7Brendie%3Anow%7D%3C/CreateTime%3E%0A%20%20%3CMsgType%3E%3C%21%5BCDATA%5Btransfer_customer_service%5D%5D%3E%3C/MsgType%3E%0A%20%3C/xml%3E%0A]]></ReplyMessage>
	</rsdata>
</xml>