<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="/plugins/qrcodejs-master/qrcode.min.js" charset="utf-8"></script>
    <title>生成二维码</title>
</head>
<body>
    <div id="qrcode" style="margin:10% auto; width:300px; display:block;"></div>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), window.location.href.split("qrcode.html?")[1]);
    </script>
</body>
</html>
